
APP_HOST=localhost
APP_PORT=3000
APP_PROTOCOL=http
PORT=3000

MAILER_FROM="HireInn Labs <notifications@yourdomain.com>"
SMTP_ADDRESS=smtp.gmail.com
SMTP_PORT=587
SMTP_DOMAIN=localhost
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPEN_TIMEOUT=5
SMTP_READ_TIMEOUT=5

OPEN_ROUTER_API=your_openrouter_api_key
OPEN_ROUTER_AI_MODEL=openai/gpt-4o-mini

REDIS_URL=redis://127.0.0.1:6379/0
JOB_CONCURRENCY=1

RAILS_MAX_THREADS=5
RAILS_LOG_LEVEL=debug
WEB_CONCURRENCY=1

HIRE_INN_LABS_DATABASE_PASSWORD=change_me_for_production
PIDFILE=
SOLID_QUEUE_IN_PUMA=

